<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <title>La Ferme 2.0 - Ajouter Nourriture  Animal</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
  th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
  rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
  th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

     <link href="../static/css/custom.css"
          th:href="@{css/custom.css}" rel="stylesheet" media="screen"/>  

 <body>
    <div>
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/ajouterFermier">Creation Nourriture Animmal de la Ferme</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit">
        <h1 class= "text-center">Creation nourriture  Animal Ferme</h1>       
          
              <h2>Formulaire Nourriture des  Animaux</h2>
          
    <div>
        <form class="form-horizontal" th:object="${nourritureAnimal}" th:action="@{/ajouterNourritureAnimal}" method="post">
        
               <div class="form-group">
        		<label class="col-sm-2 control-label">Animal</label>
         				 <div class="col-sm-10">
  		    		   <select class="form-control"     >
        					<option th:each="anima : ${animaux}"
            				        th:value="${id}"
               					    th:text="${anima.type.nom}"
               				      th:selected="${anima.type.id.equals(1)}"  />
    						</select>
    	 				</div>
        	</div>
            
          <div class="form-group">
          	<label class="col-sm-2 control-label">Nourriture</label>
         		 <div class="col-sm-10">
  		          <select class="form-control"    >
        			<option th:each="nourriture : ${nourriture}"
            	       th:value="${nourriture.id}"
               	       th:text="${nourriture.nom}"
               		    th:selected="${nourriture.id.equals(1)}"  />
    		    	</select>
    	 			</div>
           </div>
                        
                  
            <div class="row">
                 <div class="col-md-2 col-md-offset-5">
                   <button type="submit"  class="btn btn-default">Save </button>
                  </div> 
            </div>
            
        </form>
        </div>
                       
   </div>
</div>
                                                       
</body>
</html>
